.wrapper {
  width: 400px;
  height: 100%;
  margin-top: -35px;
  transition: all 0.3s linear;
  background: #f7f7f7;
}
.wrapper .faq-name {
  flex-direction: column;
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin: 1rem;
}
.wrapper .title {
  display: flex;
  text-align: left;
  margin: 10px 0;
}

.item {
  transition: all 0.3s linear;
  margin: 5px 0;
  margin-bottom: 5px;
  padding: 10px 20px;
  color: #1c1c1c;
  background-color: #f7f7f7;
}
.title,
item {
  color: #909090;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}
.title:hover {
  color: #1c1c1c;
  cursor: pointer;
}

.content-faq {
  color: #909090;

  max-height: 0;
  overflow: hidden;

  width: 80%;
  font-size: 16px;
  line-height: 35px;
  text-align: left;
}

.content-faq.show {
  height: auto;
  max-height: 9999px;
  color: #1c1c1c;
}
.content-faq:hover {
  color: #1c1c1c;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 10rem;
  }
  .top-nav,
  .top-nav a {
    font-size: 4px;
  }
  .versions,
  .languages,
  .github {
    padding: 0.3rem;
  }
}
