* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  text-align: left;
  width: 20%;
  background-color: #f7f7f7;
  position: relative;
  z-index: 2;
}
.sidebar-content {
  position: fixed;
  top: 10rem;
  bottom: 5rem;
}
.sidebar-info {
  position: fixed;
  right: 0;
  width: 100%;
}
.sidebar .sidebar-content,
.sidebar-title {
  text-align: center;
  font-size: 20px;
  display: flex;
  width: 60%;
  color: #61dafb;
  margin: 0 auto;
}
.sidebar-title {
  font-size: 30px;
  color: #909090;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    margin: 4rem auto;
  }
  .sidebar-content {
    position: initial;
    width: 100%;
  }
  
}
