.footer {
  z-index: -1;
  width: 100%;
  background: #21232a;
  color: #61dafb;
  padding: 2rem auto;
}

.contanier {
  display: flex;
  justify-content: space-around;
}
.top-footer {
  background-color: #282C34;
  display: flex;
  justify-content: right;
  position: relative;
  color: #fff;
}
.top-footer span  {
  position: absolute;
  display: flex;
  justify-content: right;
  right: 80px;
  color: #61dafb;
  top: 60px

}
.footer-title {
  display: flex;
  justify-content: right;
  margin: 3rem;
  padding: 2rem;
}


.left {
  display: flex;
  flex-direction: column;
}
h3,
h1 {
  margin: 1rem auto;
}
ul li {
  list-style: none;
  margin: 5px auto;
  color: #fff;
}
ul li:hover {
  color: #61dafb;
  cursor: pointer;
}

.year {
  margin: 1rem auto;
}
