* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  background: #20232a;
  position: relative;
  color: #fff;
  margin-bottom: 6rem;
  z-index: 3;
}
#nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: #21232a;
}
#top-nav {
  background-color: #16181d;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-weight: 700;
}
#top-nav a {
  color: #61dafb;
  text-decoration: none;
}

#nav .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: -2px auto;
  background: #21232a;

  color: #fff;
  align-items: center;
}
.lists ul {
  display: flex;
  justify-content: space-between;
}

.lists  .list {
  list-style: none;
  margin: 0px 15px;
  cursor: pointer;
}

ul li a {
  border-bottom: 2px solid transparent;
  padding: 10px;
  bottom: -20px;
}
ul .list a:focus {
  border-bottom: 2px solid #61dafb;
}
ul .list a:hover {
  border-bottom: 2px solid #61dafb;
}
.lists ul li:first-child {
  list-style: none;
  margin: 0 10px;
  color: #61dafb;
}
.logo {
  font-size: 22px;
  text-transform: capitalize;
  align-items: center;
  color: #61dafb;
  text-decoration: none;
  font-weight: 600;
}
.logo .FaReact {
  margin: 5px 10px -6px 0px;
  font-size: 28px;
}

.logo,
.search {
  margin: 0 20px;
}

/* search input style */

.search-box {
  align-items: center;
  background: transparent;
  height: 30px;
  border-radius: 2px;
}

.search-btn {
  color: white;
  float: right;
  /* width: 30px; */
  /* height: 30px; */
  border-radius: 50%;
  background: #21232a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
  position: relative;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  float: right;

  color: white;
  font-size: 18px;
  transition: 0.4s;

  align-items: center;
  width: 140px;
}
.search-icon {
  font-size: 24px;
  position: absolute;
  left: -30px;
  top: 0;
}
.search-input.icon-active {
  display: none;
}

.search-box:hover > .search-input {
  background-color: #2f313a;
}

/* complete search input */
/* version */

#version {
  background-color: transparent;
  border: 0;
  font-size: 18px;
  color: #959595;
  cursor: pointer;
}
#version option {
  font-size: 14px;
}

.versions a,
.languages,
.github a {
  color: #61dafb;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #nav .container {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  .top-nav,
  .top-nav a {
    font-size: 4px;
  }
  .versions,
  .languages,
  .github {
    padding: 0.3rem;
  }
}

/* container style */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}
